@namespace RSAEncryption.Web.Pages
@page "/key"

<input type="text" placeholder="file key name" @bind="KeyFileName"/>
<input type="password" placeholder="key password" @bind="KeyPassword"/>
<input type="text" placeholder="file size" @bind="KeySize"/>
<button @onclick="GenerateNewKey">Generate new key</button>

<pre>
    @KeyContents
</pre>